/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media(max-width: 640px) and (orientation: landscape) {
	body#body.phone .startseite--container--mobile-img {
	    top: -20px;
	}	
}
@media(max-width: 880px) and (orientation: portrait) {
	.startseite--container--mobile-img img {
	    -o-object-position: -270px;
	       object-position: -270px;
	}	
	body#body.phone .startseite--container--mobile-img {
		height: 360px;
	}
}
@media(max-width: 880px) and (orientation: landscape) {
	/*critical*/
	body#body.phone .custom.modal-news {
		position: absolute;
	}
	body#body.is_home.phone header#header {
	    height: 300px;
	}	
	body.phone .unsere-praxis--item__text {
	    padding: 20px;
	}
	body.phone .unsere-praxis--item.flex {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	    margin-bottom: 30px;
	}	
}
@media(max-width: 880px) {
	/*critical*/
	body.phone .custom.modal-news {
	    max-width: 270px;
	    top: 20vh;
	}	
	body#body.phone .breadcrumb {
	    font-size: 10px;
	}
	body#body.is_home.phone .header-startseite--content {
	    position: relative;
	    z-index: 3;
	    padding: 20px;
	}
	.startseite--container--mobile-img img {
	    width: 100%;
	    height: 100%;
	    -o-object-fit: cover;
	       object-fit: cover;
	}	
	body.phone .startseite--container--mobile-img {
	    width: 100%;
	    position: absolute;
	    top: -50px;
	    left: 0;
	    z-index: 2;
	}
	body#body.phone .header-startseite--container.innerwidth {
	    display: block;
	}
	body.phone .header-startseite--content h1,
	body.phone .header-startseite--content h2 {
		color: var(--first-color);
		line-height: 30px;
	}
	body#body.phone .header-startseite--content h1 {
		font-size: 28px;
	}
	body#body.phone .header-startseite--content h2 {
		font-size: 21px;
	}	
	body#body.is_home.phone header#header {
	    background: transparent;
	    background-size: initial;
	}	
	body.phone .praxis-start {
	    margin: 0px 0px 30px;
	}
	body#body.phone .unsere-praxis--row.flex {
	    display: block;
	}	
	body.phone .team--Container__img {
	    width: initial;
	}
	body.phone .team--Container {
	    max-width: 360px;
	    margin: 0 auto 90px;
	}
	body.phone .team.team--Container {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .flex.space-between.praxis-historie {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .praxis-historie--item,
	body.phone .unsere-praxis-bottom--item {
	    margin-bottom: 60px;
	}
	body.phone .praxis-historie-bottom,
	body.phone .unsere-praxis-bottom {
	    display: block;
	    margin: 30px 20px;
	}	
	body#body.phone h2 {
	    font-size: 21px;
	    line-height: 30px;
	}	
	body#body.phone h1.header--content__heading {
		font-size: 28px;
	}
	body.phone .pull-right.item-image {
	    max-width: 320px;
	    float: none;
	    margin: 5px auto;
	}
	body.phone .footer-info--item {
	    max-width: 220px;
	    margin: 0 auto;
	    text-align: center;
	    margin-bottom: 60px;
	}
	body.phone .footer-info--row {
	    display: block;
	}
	body.phone .behandlungen--container--item {
	    margin-bottom: 30px;
	}
	body.phone .behandlungen--container__row {
	    margin-bottom: 0px;
	    display: block;
	}	
	body.phone .praxis-nav--item {
	    max-width: 320px;
	    margin: 0 auto 50px;
	}
	body#body.mobile.phone .startFade.praxis-nav.flex {
	    display: initial;
	}	
	body.phone h3.welcome {
	    font-size: 20px;
	}
	body.phone .aboveTheFold {
	    height: auto;
	}
	body#body.phone .navbar {
	    width: 100%;
	}
	body.phone nav.navbar-wrapper {
		display: block;
	}
	body.phone .navbar {
		position: initial;
	}
	body.phone button.btn.btn-navbar {
	    position: absolute;
	    right: 20px;
	    top: 40px;
	}
	body.phone .header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	body.phone .header--img--container {
	    height: 100px;
	}
	body.phone .scroll-top-wrapper {
		font-size: 18px;
	    position: fixed;
	    opacity: 0;
	    visibility: hidden;
	    overflow: hidden;
	    text-align: center;
	    z-index: 99999999;
	    background: #489be2;
	    color: #eeeeee;
	    width: 50px;
	    height: 48px;
	    line-height: 48px;
	    right: 10%;
	    bottom: 10%;
	    padding-top: 2px;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	    border-bottom-left-radius: 10px;
	    -webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}
	body.phone .scroll-top-wrapper.show {
	    visibility: visible;
	    cursor: pointer;
	    opacity: 0.6;
	}

}
@media(max-width: 620px) and (orientation: portrait) {
	/*crticial*/
	body#body.tablet .nav-collapse.collapse {
	    width: 410px;
	}
	body#body.tablet .unsere-praxis-bottom {
	    display: block;
	}
	body#body.phone.praxisteam .header--img--container:before {	   
	    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 28%);
	    background: -o-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 28%);
	    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 28%);
	}	
}
@media(max-width: 767px) and (orientation: portrait) {
	/*critical*/
	body.tablet .team--Container__img {
	    width: 250px;
	}
	body.tablet .behandlungen--container--item {
	    margin-bottom: 30px;
	}
	body#body.tablet .behandlungen--container__row.flex {
	    display: initial;
	}
	body.tablet .footer-info--item h3 {
	    font-size: 16px;
	}
	body.tablet .footer-info--item {
	    max-width: 170px;
	}
}
@media(max-width: 767px) {
	body#body {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(max-width: 768px) and (orientation: portrait) {
	/*critical*/
	body#body:not(.phone) .kontakt-info--top {
	    width: 490px;
	}
	body#body.mobile .praxis-nav--item h3 {
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	}
	body#body.mobile .startFade.praxis-nav.flex {
	    display: initial;
	}
	body.tablet .praxis-nav--item {
		margin-bottom: 30px;
	    -ms-flex-preferred-size: 30%;
	    /* flex-basis: 30%; */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	}	
}
@media(max-width: 1280px) {
	body.desktop .innerwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
	body.desktop nav.navbar-wrapper.innerwidth {
	    padding-right: 10%;
	}
	body.desktop .header--content {
	    left: 30px;
	}
}
@media(min-width: 1281px) {
	/*critical*/
	body.desktop .pull-right.item-image img {
	    width: 90%;
	}	
}
@media(max-width: 1366px) and (orientation: portrait) {
	/*critical*/
	body#body.mobile .unsere-praxis--item img {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	    width: 100%;
	}	
	body.tablet .praxis-historie--item h2,
	body.tablet .unsere-praxis-bottom--item h2 {
	    line-height: 30px;
	}
	body.phone .unsere-praxis--item.flex {
	    width: 300px;
	    margin: 0 auto 60px;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body.mobile .unsere-praxis--item {
	    margin-bottom: 30px;
	}
	body.mobile .unsere-praxis--row.flex {
	    display: block;
	}		
}
@media(max-width: 1366px) and (orientation: landscape) {
	/*critical*/
	body.phone .behandlungen--container--item {
	    max-width: 440px;
	    margin: 0 auto 30px;
	}
	body.tablet .header-startseite-img--container {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}	
	body.tablet .header-startseite--content {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}	
}
@media(max-width: 1366px) {
	/*critical*/
	body.tablet .unsere-praxis-bottom--item {
	    margin-bottom: 50px;
	}
	body.phone .unsere-praxis-bottom {
	    display: block;
	}	
	body.mobile .praxis-nav__img--wrapper {
	     overflow: initial; 
	}	
	body.mobile .praxis-nav__img--wrapper img {
	    box-shadow: 2px 2px 30px -10px #777;
	}
	body.mobile .praxis-start div,
	body.mobile .praxis-start {
	    position: relative;
	}
	body.mobile .praxis-start:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(255,255,255,0.6);
	    z-index: 0;
	}	
	body#body.tablet .unsere-praxis--item img {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}
	body.mobile .nav-kacheln h3.first-color.center {
	    font-size: 21px;
	}
	body#body.mobile .item-page.startseite h2 {
	    font-size: 24px;
	}
	body#body.mobile .behandlungen--container--item h2 {
	    font-size: 16px;
	}
	body#body.mobile .praxis-start h2.small {
	    font-size: 14px;
	}
	body#body.mobile h1,
	body#body.mobile h2,
	body#body.mobile h3,
	body#body.mobile h4 {
	    letter-spacing: 1.4px;
	    line-height: 35px;
	    font-weight: normal;
	}
	body.mobile .content-banner {
	    padding: 30px 20px 10px;
	}
	body.mobile .copyWrapper--date {
	    font-size: 11px;
	    text-align: center;
	}	
	body#body.tablet .behandlungen--container--item h2 {
	    padding-left: 0px !important;
	}
	body.tablet .item-page h2 {
		font-size: 28px;
	}
	body#body.tablet h1.header--content__heading {
		font-size: 32px;
		line-height: 43px;
	}
	body.mobile .praxis-start {
    	padding: 40px 20px;
	}
	body.tablet .praxis-nav--item {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	body.tablet .vertical-slide.startFade.behandlungen--container__row a {
	    -ms-flex-preferred-size: 45%;
	        flex-basis: 45%;
	}
	body.mobile .header-startseite--content h1 {
	    font-size: 32px;
	    line-height: 40px;
	}
	body.mobile .header-startseite--content h2 {
	    font-size: 21px;
	    line-height: 30px;
	}
	body.tablet .header-startseite--content {
	    padding: 20px;
	}
	body.tablet .aboveTheFold {
	    height: initial;
	}
	body.mobile .logo--small {
	    padding: 20px;
	}
	body.mobile .header--content {
	    top: 0%;
	    left: 20px;
	}
	body.mobile .breadcrumbs,
	body.mobile.not_home .content,
	body.mobile .behandlungen--container,
	body.mobile .footer-info--row,
	body.tablet .unsere-praxis-bottom,
	body.tablet .praxis-historie-bottom {
		padding-left: 20px;
		padding-right: 20px;
	}
	body.mobile div#wrapper.overlay:before {
		opacity: 1;
    background: -webkit-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
    background: -o-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
    background: linear-gradient(135deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
		z-index: 2;
		transition: opacity 0.5s ease-in-out;
	}
	body.mobile div#wrapper:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    height: 100%;
	    width: 100%;
	    opacity: 0;
    background: -webkit-linear-gradient(315deg, rgba(52, 158, 240, 0) 0%,rgba(238, 233, 0, 0) 100%);
    background: -o-linear-gradient(315deg, rgba(52, 158, 240, 0) 0%,rgba(238, 233, 0, 0) 100%);
    background: linear-gradient(135deg, rgba(52, 158, 240, 0) 0%,rgba(238, 233, 0, 0) 100%);
	    z-index: -1;
	    transition: opacity 0.3s ease-in-out;
	}
	body.mobile div#wrapper {
	    position: relative;
	    z-index: 0;
	}	
	body#body.mobile .dropdown-menu>li>a:hover,
	body#body.mobile .dropdown-menu>li>a:focus,
	body#body.mobile .dropdown-submenu:hover>a,
	body#body.mobile .dropdown-submenu:focus>a {
		background-image: none;
		background: transparent;
	}
	body.mobile .navbar .nav-child> li.active {
		background: #fff;
	}
	body#body .navbar .nav>.active.parent:after {
		content: initial;
		background: transparent;
	}
	body#body.mobile .navbar .nav-child>.active:after {
	    content: '';
	    position: absolute;
	    width: calc(100% + 4px);
	    height: 112%;
	    top: -2px;
	    left: -2px;
	    background: -webkit-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
	    background: -o-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
	    background: linear-gradient(135deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
	    border-radius: 3px;
	    z-index: -1;
	}	
	body.mobile .nav li.active {
		position: relative;
	}
	body#body.mobile .dropdown-menu>.active>a {
		background: transparent;
	}
	body#body.mobile .navbar .nav>li>a {
		color: var(--first-color);
	}
	body.mobile .navbar {
		width: 60%;
	}
	body.mobile .navbar .btn-navbar .icon-bar {
		background-color: var(--first-color)
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.tablet .nav-collapse, body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 90%;
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.tablet .nav-collapse ul.nav.menu.nav-pills {
	    background: #fff;
	    width: 100%;
	    top: 60px;
	    -webkit-box-shadow: 0 24px 30px -31px #4a4a4a;
	    box-shadow: 0 24px 30px -31px #4a4a4a;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.tablet .nav-collapse.collapse,
	body#body.tablet .nav-collapse {
	    height: auto!important;
	}
	body.tablet .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.tablet .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .navbar {
	    margin: 0 30px 0 auto;
	}
	body.tablet .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
/*	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	}*/
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: relative;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}
}

/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}