/*
 * Styles CSS
 */
@font-face {
    font-family: 'quicksandbold';
    src: url('/templates/089-standard/fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksandregular';
    src: url('/templates/089-standard/fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Resp overrides*/
@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #349ef0; 
  --second-color: #eee900;
  --third-color: #1775cb;
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    position: relative;
    font-family: 'quicksandregular';
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

.clr {
    clear: both;
}
body#body.feste-zahn[class*="span"],
body#body.herausnehmbare-zahn[class*="span"] {
    float: initial;
    min-height: initial;
    margin-left: initial;
}
nav.navbar-wrapper .vcard {
    display: none;
}
body.site h1,body.site  h2,body.site  h3, body.site h4 {
    letter-spacing: 2.4px;
    line-height: 52.8px;
    font-weight: normal;
}
body p {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
.header-startseite--content h1,
.item-page.startseite>.page-header h2 {
    text-transform: uppercase;
}
.first-color,
.item-page.startseite>.page-header h2,
body.kontakt h1,
body.impressum h1,
body.datenschutz h1 {
    color: var(--first-color);
}
.third-color {
    color: var(--third-color);
}
.center {
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
}


/*add-Ani vertical*/
body.desktop .vertical-slide {
    transform: translateY(100px);
    /*transition: transform 2s cubic-bezier(0.2, 1, 0.8, 1);*/
}
body.desktop .vertical-slide.startFade.add-Ani {
    /*transform: translateY(0px);*/
    -webkit-animation: verticalSlide 2s cubic-bezier(0.2, 1, 0.8, 1) forwards;
            animation: verticalSlide 2s cubic-bezier(0.2, 1, 0.8, 1) forwards;
}
body.desktop .nav-kacheln .startFade.behandlungen--container__row.add-Ani:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}
body.desktop .nav-kacheln .startFade.behandlungen--container__row.add-Ani:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

  @-webkit-keyframes verticalSlide {
      0% { -webkit-transform: translateY(100px); transform: translateY(100px); }
      100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  }

  @keyframes verticalSlide {
      0% { -webkit-transform: translateY(100px); transform: translateY(100px); }
      100% { -webkit-transform: translateY(0px); transform: translateY(0px); }
  }
/*<--- END add-Ani vertical*/

/*content*/
body.desktop .behandlung---item {
    max-width: 500px;
}
.header--img--container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0.8)),color-stop(30%, rgba(255,255,255,0.8)),to(rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 30%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 30%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 30%,rgba(255,255,255,0) 100%);
}
body#body .breadcrumb {
    padding: 8px 15px 8px 0px;
    background-color: transparent;
    font-size: 12px;
}
body.site h1.header--content__heading {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.header--content {
    position: absolute;
    top: 30%;
    left: calc((100vw - 1000px) / 2);
}
.header--img--container {
    position: relative;
}
.praxis-nav {
    margin-bottom: 30px;
}
.praxis-nav--item h3 {
    font-size: 18px;
}
body.desktop .praxis-nav__img--wrapper img {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}
body.desktop .praxis-nav__img--wrapper:hover img {
    transform: scale(1.1);
}
.praxis-nav__img--wrapper {
    position: relative;
    overflow: hidden;
}
body.desktop .praxis-nav__img--wrapper:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(52, 158, 240, 0.3);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}
body.desktop .praxis-nav__img--wrapper:hover:before {
    opacity: 1;
}
.praxis-start {
    padding: 40px 0px;
    background: url('/images/kfo-planegg-start-banner-bckgr-desktop.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    margin: 30px 0px;
}
body.desktop .behandlungen--container--item img {
    /* box-shadow: 0px 20px 60px -15px; */
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0.2);
    transition: all 1.5s cubic-bezier(0.2, 1, 0.8, 1);
}
body.desktop .behandlungen--container--item:hover img {
    /* box-shadow: 0px 20px 60px -15px; */
    transform: scale(1.2);
    opacity: 0.4;
    filter: grayscale(0.6);
}
body.desktop .behandlungen--container--item:hover {
    box-shadow: 0px 18px 40px -14px #2f71b3;
    transform: scale(1.02);
}
.behandlungen--container {
    margin: 30px 0px 80px;
}
.behandlungen--container--item img {
    width: 150px;
}
.behandlungen--container--item h2 {
    font-size: 16px;
    /*transition: all 0.3s ease-in-out;*/
}
body.desktop .behandlungen--container a {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
}
body.desktop .behandlungen--container a:hover {
    text-decoration: none;
}
.behandlungen--container__row {
    margin-bottom: 30px;
}
.behandlungen--container--item {
    position: relative;
    border-radius: 3px;
    background: #f8f8f8;
    padding: 5px 20px;
    box-shadow: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body#body .behandlungen--container--item h2 {
    letter-spacing: 0.4px;
    line-height: 1.4em;
    color: #000;
}
body#body:not(.phone) .behandlungen--container--item h2 {
    padding-left: 20px;
}
.header-startseite-img--container,
.header-startseite--content {
    transform: translateX(-100%);
    opacity: 0;
}
body.rdy .header-startseite-img--container,
body.rdy .header-startseite--content {
    animation: HeaderElAni 2s cubic-bezier(0.2, 1, 0.8, 1) forwards;
}
body.rdy .header-startseite-img--container {
    animation-delay: 2s;
}
body.rdy .header-startseite--content {
    animation-delay: 1.2s;
}
body.rdy .header-startseite-img--container {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}
body.rdy .header-startseite--content {
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
}

@keyframes HeaderElAni {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0%); opacity: 1; }
}
body.desktop .arrow-down:hover {
    -webkit-animation: arrowAni 0.5s ease-in-out alternate infinite;
            animation: arrowAni 0.5s ease-in-out alternate infinite;
}
  @-webkit-keyframes arrowAni {
      0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: saturate(0); filter: saturate(0);}
      100% {-webkit-transform: scale(1.2);transform: scale(1.2); -webkit-filter: saturate(10); filter: saturate(10);}
  }
  @keyframes arrowAni {
      0% {-webkit-transform: scale(1);transform: scale(1); -webkit-filter: saturate(0); filter: saturate(0);}
      100% {-webkit-transform: scale(1.2);transform: scale(1.2); -webkit-filter: saturate(10); filter: saturate(10);}
  }
.arrow-down--container {
    width: 100%;
    text-align: center;
}
body.is_home .page-header {
    text-align: center;
    margin: 60px 0px 30px;
}
body.site .page-header {
    border-bottom: none;
}
.aboveTheFold {
    height: 100vh;
}
.header-startseite--content h1 {
    font-size: 48px;
}
.header-startseite--content h2 {
    font-size: 22px;
}
.header-startseite--content h1,
.header-startseite--content h2 {
    color: #fff;
    font-weight: normal;
}
.header-startseite--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body.is_home header#header {
    position: relative;
    background: url('/images/headers/kfo-planegg-header-startseite.jpg') no-repeat center;
    background-size: cover;
}
img.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body.desktop nav.navbar-wrapper {
    height: inherit;
    background: transparent;
}
nav.navbar-wrapper {
    position: relative;
    background: #fff;
    z-index: 2;    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo--small img {
    width: 220px;
}
.logo--small,
nav.navbar-wrapper .vcard {
    padding: 20px 0px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
h3.unsPraxHeader {
    margin-top: 30px;
}
body:not(.phone) .unsere-praxis--item img,
body:not(.phone) .unsere-praxis--item div,
body:not(.phone) .unsere-praxis--item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body:not(.phone) .unsere-praxis--item__text {
    padding: 30px 40px 30px 30px;
}
body:not(.phone) .unsere-praxis--row.flex {
    margin: 30px 0px;
}
body:not(.phone) .unsere-praxis--item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body#body .unsere-praxis--item__text h3 {
    text-transform: uppercase;
    line-height: 35px;
}
.zitat {
    text-align: center;
}
body.desktop .zitat blockquote {
    margin: 0 40px 20px;
}
.zitat blockquote {
    padding: 0px;
    margin: 0 0 20px;
    border-left: none;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
    font-style: italic;
    color: #717171;
}
.zitat address {
    font-size: 18px;
}
/*body.desktop .pull-right.item-image {
    margin-top: 50px;
}*/
body#body .page-header h2 {
    color: var(--first-color);
    text-transform: uppercase;
}
body#body.desktop h2.behandlung--heading,
body#body.desktop .page-header h2 {
    font-size: 30px;
    letter-spacing: 1.4px;
}
body#body h2.behandlung--heading {
    letter-spacing: 1.4px;
}
body.desktop li.parent>a,
body.desktop .breadcrumb li:nth-child(3) .pathway {
    cursor: text;
}
body.desktop .breadcrumb li:nth-child(3) a.pathway {
    color: #333;
}
body.desktop .breadcrumb li:nth-child(3) a.pathway:hover {
    text-decoration: none;
}
body.site .blog a.btn {
    background-image: none;
    background: #489be2;
    text-shadow: none;
    color: #fff;
    border: 1px solid #489be2;
    box-shadow: 0px 6px 30px -9px #489be2;
    transition: all 0.3s ease-in-out;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
body.site .blog .pull-right.item-image {
    max-width: 300px;
    margin-left: 30px;
}
body#body.site .blog h2 {
    font-size: 21px;
}
.category-list.praxis {
    margin: 200px 0px;
}
body:not(.phone) .kontakt-info--top--item {
    width: 50%;
    float: left;
}
body:not(.phone) .kontakt-info--top {
    width: 660px;
    margin: 0 auto;
}
body#body.newsClicked .custom.modal-news {
    display: none;
}
body#body.rdy .custom.modal-news {
    animation: fadein 0.5s ease-in-out forwards 1.5s;
}
.custom.modal-news {
    display: block;
    position: fixed;
    max-width: 390px;
    top: 30vh;
    right: 30px;
    background: #fff;
    padding: 20px;
    border: 5px solid #489be2;
    border-radius: 5px;
    box-shadow: 2px 12px 40px -15px #333;
    opacity: 0;
    z-index: 1;
}
div#closeModal {
    font-size: 28px;
    width: 20px;
    padding: 5px;
    color: #489be2;
    cursor: pointer;
}

/*<--- END content*/

 /*Menue*/
body.desktop header#header,
body.desktop .item-page.kontakt,
body.desktop.impressum,
body.desktop.datenschutz {
    margin-top: 135px;
}
body.desktop div#menuWrapper {
    height: 135px;
    width: 100%;
    position: fixed;
    background: rgba(255,255,255, 1);
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 3;
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease;
}
body.desktop div#menuWrapper.sticky {
    box-shadow: 0px 2px 40px -20px #4a4a4a;
    height: 90px;
    opacity: 0;
    background: rgba(255,255,255, 1);
    /*transform: translateY(-100px);*/
    animation: menuDrop 2s ease-in-out forwards;
}
body.desktop div#menuWrapper .logo--small,
body.desktop div#menuWrapper .navbar {
    transform: scale(1);
    transition: transform .5s ease-in-out;
}
body.desktop div#menuWrapper.sticky .logo--small,
body.desktop div#menuWrapper.sticky .navbar {
    transform: scale(0.8);
}
    @keyframes menuDrop {
        0% { transform: translateY( 0px); opacity: 1;}
        50% { transform: translateY(-100px); opacity: 0;}
        100% { transform: translateY( 0px); opacity: 1;}
    }

.navbar .nav > li.active {
    display: inline-block;
    position: relative;
    background: #fff;
    border: none;
}
body#body .navbar .nav>.active:after {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: 112%;
    top: -2px;
    left: -2px;
    background: -webkit-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
    background: -o-linear-gradient(315deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
    background: linear-gradient(135deg, rgba(52, 158, 240, 0.5) 0%,rgba(238, 233, 0, 0.5) 100%);
    border-radius: 3px;
    z-index: -1;
}
body#body.desktop ul.nav li:hover a {
    color: #349ef0;
}
body.site.desktop ul.nav:hover li a {
    outline: none;
    color: rgba(0, 0, 0, 0.3);
}
body.site.desktop ul.nav:hover li a:before {
    opacity: 0;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
body.site.desktop ul.nav li a:before {
    position: absolute;
    content: attr(title);
    color: var(--first-color);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
body.desktop.site .navbar .nav>li>a {
    font-size: 16px;

}
body.site .navbar .nav>li>a {
    position: relative;
    color: rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
    letter-spacing: 1px;
    font-size: 14px;
    text-shadow: none; 
}
body.site .dropdown-menu>li>a {
    color: var(--first-color);
}
body#body .navbar .nav .dropdown-toggle .caret {
    margin-top: 5px;
    border-top-color: var(--first-color);
    border-bottom-color: var(--first-color);
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body.desktop .dropdown-menu>li>a {
    font-size: 16px;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--first-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body.desktop .dropdown-menu>li>a:hover,
body#body.desktop .dropdown-menu>li>a:focus,
body#body.desktop .dropdown-submenu:hover>a,
body#body.desktop .dropdown-submenu:focus>a {
    color: #fff !important;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body.desktop .dropdown-menu>.active>a,
body#body.desktop .dropdown-menu>.active>a:hover,
body#body.desktop .dropdown-menu>.active>a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}
.praxis-historie--item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
div.praxis-historie {
    margin-bottom: 60px;
}
.content-banner {
    background: #459df5;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 60px;
}
body.site h2.uppercase.intro-heading {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
}
body.site h3.intro-heading {
    font-size: 14px;
    letter-spacing: 0.05em;
}
body.site.desktop h3.intro-heading {
    font-size: 16px;
}
body.site .praxis-historie--item h2,
.unsere-praxis-bottom--item h2 {
    margin-top: 0px;
    font-size: 22px;
    letter-spacing: 1.4px;
    line-height: 34px;
}
body#body .unsere-praxis-bottom--item h2
body#body .praxis-historie--item h2 {
    letter-spacing: 1.4px;
    line-height: 28px;
}
.content-banner h2 {
    font-size: 16px;
    margin-top: 0px;
}
.content-banner p {
    -webkit-font-smoothing: antialiased;
}
.praxis-historie--container {
    padding: 30px 0px;
    background: #f7f7f7;
    color: #989898;
}
/*.praxis-historie--item img,
.item-image img {
    box-shadow: 0px 20px 50px -10px #d4d4d4;
}*/
body.desktop .pull-right.item-image,
body.tablet .pull-right.item-image {
    width: 50%;
    text-align: right;
}
.behandlung--container {
    margin: 0px 0px 60px;
}
body.site h2.behandlung--heading {
    margin-top: 0px;
    line-height: 40px;
}
.team--Container__img {
    width: 370px;
}
.team.team--Container {
    margin-bottom: 90px;
}
.item-page.praxisteam h2,
.item-page.praxisteam h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
body.site .team--Container__text h2 {
    color: #747474;
    font-size: 28px;
    margin-bottom: 0px;
}
.team--Container__text {
    margin-left: 30px;
}
body.desktop .team--Container__text {
    margin-left: 130px;
}
body.site .team--Container__text h3 {
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    letter-spacing: initial;
}

/* non-critical CSS */
body.incognito .praxis-historie--container {
    margin-top: 60px;
}
.unsere-praxis-bottom--item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    color: #989898;
    margin-right: 50px;
}
.unsere-praxis--container {
    margin: 60px 0px 0px;
    background: url(/images/kfo-planegg-unsere-praxis-bckgr.jpg) no-repeat center;
    background-size: cover;
    padding: 20px 0px;
}
div#copyright {
    background: #f8f8f8;
}
.copyWrapper {
    text-align: center;
}
a.imprLink {
    padding: 0px 20px;
    color: #444;
    font-size: 16px;
}
.copyWrapper--date {
    padding: 10px 20px;
    margin-bottom: 0px;
    font-size: 12px;
}
.copyWrapper {
    padding: 15px 0px;
}
body#body .footer-info--item h4 {
    font-size: 13px;
    font-family: 'quicksandbold';
    line-height: 20px;
    margin: 0 0 10px;
}
.footer-info--item h3 {
    font-size: 22px;
}
.footer-info--item a {
    color: #333;
}
.footer-info--item img {
    width: 35px;
}
.footer-info {
    padding: 0px 0px 50px;
    overflow: hidden;
}
.footer-info--item {
    max-width: 220px;
}
.motto.startFade.add-Ani p:last-of-type {
    margin-bottom: -1px;
}
.fullwidth.blue-banner {
/*    height: 160px;*/
    background: var(--first-color);
    text-align: center;
    margin-bottom: 50px;
}
.fullwidth.blue-banner img {
    padding: 15px 0px;
}
body#body .motto h2 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
}
body#body .motto h3 {
    font-size: 14px;
    letter-spacing: 1px;
}
body#body.desktop .motto h3 {
    font-size: 16px;
}
.motto {
    text-align: center;
}
/*.motto img.motto-img {
    height: 245px;
}*/
body.desktop .motto {
    height: 381px;
}

body#body .praxis-nav--item h3 {
    font-family: 'quicksandbold';
    line-height: 30px;
}
.praxis-start h2.small {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
}
h3.welcome {
    font-size: 40px;
    line-height: 20px;
}
body#body .h2-historie {
    line-height: 30px; 
    letter-spacing: 1.4px; 
}
body#body .h3-historie {
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 20px;
    margin: 0px 0px 30px;
}
body.desktop .praxis-historie--item img {
    margin-top: 7px;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
body#body #cookiesck_accept {
    background: #fff;
    color: #349ef0;
    float: none;
    width: 100px;
    margin: 20px auto 0px !important;
    border: 1px solid #fff;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #eee832;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #349ef0;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 0px 3px 0px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
        text-align: center !important;
  }
}
@media(max-width: 1366px) {
  body#body.mobile #cookiesck_accept {
      width: 100px;
  }
    body#body.mobile #cookiesck {
        font-size: 14px;
    }  
}